.git
.github
.cache
.act
**/.DS_Store
**/__pycache__
**/*.pyc

build
build-*/
cmake-build*/
compile_commands.json
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
install/

**/*.o
**/*.obj
**/*.a
**/*.la
**/*.so
**/*.so.*
**/*.dylib
**/*.dll
